In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
oecd = pd.read_csv('dataset/oecd.csv', index_col=None, na_values=['NA'])

In [9]:
gdp = pd.read_csv('dataset/gdp.csv', thousands=',', delimiter='\t',
                             encoding='latin1', na_values="n/a")

In [13]:
oecd = oced.pivot(index="Country", columns="Indicator", values="Value")
oecd.head()

NameError: name 'oced' is not defined

In [12]:
gdp.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Country</th>
      <th>Subject Descriptor</th>
      <th>Units</th>
      <th>Scale</th>
      <th>Country/Series-specific Notes</th>
      <th>2015</th>
      <th>Estimates Start After</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Afghanistan</td>
      <td>Gross domestic product per capita, current prices</td>
      <td>U.S. dollars</td>
      <td>Units</td>
      <td>See notes for:  Gross domestic product, curren...</td>
      <td>599.994</td>
      <td>2013.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Albania</td>
      <td>Gross domestic product per capita, current prices</td>
      <td>U.S. dollars</td>
      <td>Units</td>
      <td>See notes for:  Gross domestic product, curren...</td>
      <td>3995.383</td>
      <td>2010.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Algeria</td>
      <td>Gross domestic product per capita, current prices</td>
      <td>U.S. dollars</td>
      <td>Units</td>
      <td>See notes for:  Gross domestic product, curren...</td>
      <td>4318.135</td>
      <td>2014.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Angola</td>
      <td>Gross domestic product per capita, current prices</td>
      <td>U.S. dollars</td>
      <td>Units</td>
      <td>See notes for:  Gross domestic product, curren...</td>
      <td>4100.315</td>
      <td>2014.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Antigua and Barbuda</td>
      <td>Gross domestic product per capita, current prices</td>
      <td>U.S. dollars</td>
      <td>Units</td>
      <td>See notes for:  Gross domestic product, curren...</td>
      <td>14414.302</td>
      <td>2011.0</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
gdp.rename(columns={"2015": "GDP per capita"}, inplace=True)
gdp.set_index("Country", inplace=True)
full_stats = pd.merge(left=oecd, right=gdp, left_index=True, right_index=True)
full_stats.sort_values(by="GDP per capita", inplace=True)
full_stats

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>LOCATION</th>
      <th>Country</th>
      <th>INDICATOR</th>
      <th>Indicator</th>
      <th>MEASURE</th>
      <th>Measure</th>
      <th>INEQUALITY</th>
      <th>Inequality</th>
      <th>Unit Code</th>
      <th>Unit</th>
      <th>...</th>
      <th>Reference Period</th>
      <th>Value</th>
      <th>Flag Codes</th>
      <th>Flags</th>
      <th>Subject Descriptor</th>
      <th>Units</th>
      <th>Scale</th>
      <th>Country/Series-specific Notes</th>
      <th>GDP per capita</th>
      <th>Estimates Start After</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 23 columns</p>
</div>

In [18]:
full_stats.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>LOCATION</th>
      <th>Country</th>
      <th>INDICATOR</th>
      <th>Indicator</th>
      <th>MEASURE</th>
      <th>Measure</th>
      <th>INEQUALITY</th>
      <th>Inequality</th>
      <th>Unit Code</th>
      <th>Unit</th>
      <th>...</th>
      <th>Reference Period</th>
      <th>Value</th>
      <th>Flag Codes</th>
      <th>Flags</th>
      <th>Subject Descriptor</th>
      <th>Units</th>
      <th>Scale</th>
      <th>Country/Series-specific Notes</th>
      <th>GDP per capita</th>
      <th>Estimates Start After</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<p>0 rows × 23 columns</p>
</div>